<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Coursera.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D455C2981C3632BB00794181</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D455C2AF1C3632BB00794181</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D455C2BA1C3632BB00794181</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
